.ItemTitle {
    margin-top: 30px;
}

.ItemChild {
    margin-bottom: 10px !important;
}

.img-wrapper,.img-wrapper-lg,.img-wrapper-md {
    background-color: white;
    text-align: center;
}

.img-wrapper img {
    width: 70%;
    max-width: 300px;
    height: auto;
    margin: 10px;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */
}

.img-wrapper-lg img {
    width: 90%;
    height: auto;
    margin: 10px;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */
}

.img-wrapper-md img {
    width: 70%;
    height: auto;
    margin: 10px;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */
}